In [ ]:
my_income = 74
tax_rate = 0.3
my_taxes = my_income * tax_rate
print("I will pay: {} units".format(my_taxes))

In [ ]:
my_string = "OÄŸuz Haksever"
my_string[::-1]

In [ ]:
x = "Hello World"
x_upper = x.upper()
print(x_upper)
print(x)
print(x.split( ))

LISTS

In [ ]:
new_list =["one", "two", "three", "four", "five", "six", "seven"]
for i in range(len(new_list)):
    new_list.pop(0)
    print(new_list)

In [ ]:
another_list = [2,4,21,42,643,2,3,41,0,35,2,1,32]
another_list.sort()
print(another_list)

DICTIONARIES

In [ ]:
my_dictionary = {"key1": "value1", "key2": "value2"}
my_dictionary["key1"]

In [ ]:
prices = {"apple":2.99,"oranges":1.99,"milk":3.80}
prices["apple"]

In [ ]:
nice = {"k1":123,"k2":[0,1,2],"k3":{"insidekey":100}}
nice["k2"]

In [ ]:
nice["k3"]["insidekey"]

In [37]:
d = {"k1":[{"nest_key":["this is deep",["hello"]]}]}
d["k1"][0]["nest_key"][1][0]

'hello'

TUPLES

In [ ]:
a_tuple = (1,2,3,4,5)
a_tuple[-1] # THEY ARE IMMUTABLE

SETS

In [ ]:
myset = set()
myset.add(1)
myset

In [ ]:
myset.add(2)
myset

In [ ]:
myset.add(2)
myset # ONLY UNIQUE VALUES IN SETS

In [ ]:
mylist = [1,1,1,2,2,3,3,4,4,4,5,5,5,5,1,1,1,2,2,3,3,1,]

In [ ]:
set(mylist)

In [35]:
round(8 ** 0.33)

2